In [1]:
import math
import numpy as np

In [2]:
# 1. Write a script that prints the square root of the integer 17. What class is the resulting value? Why?
print(math.sqrt(17))

4.123105625617661

In [3]:
# 2. What error do you get when you run print(81 + 'Forty-two')? Can you explain the name of the error?
print(81 + 'Forty-two')

# The error is TypeError: unsupported operand type(s) for +: 'int' and 'str' 
# which means that you can't add an integer and a string together as they have different types.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
# 3. What is the result of the calculation 2 ** 3 / 2 + 8? What is the type? Why?
print(2 ** 3 / 2 + 8)

# The result is 12.0 and the type is float. This is because the result of 2 ** 3 is 8, which is an integer,
# but the result of 8 / 2 is 4.0, which is a float. The result of 4.0 + 8 is 12.0, which is a float.

12.0

In [5]:
# Given the following code

x = 81
y = 23

# 4. Write a third line that uses a format string and the variables x and y to print '81 plus 23 equals 104'
print(f'{x} plus {y} equals {x + y}')

81 plus 23 equals 104

In [6]:
# 5. Write a fourth line that uses a format string and the variables x and y to print '81 divided by 23 equals 3 with a remainder of 12'
print(f'{x} divided by {y} equals {x // y} with a remainder of {x % y}')

81 divided by 23 equals 3 with a remainder of 12

In [7]:
# 6. Are dictionaries mutable or not?
# Dictionaries are mutable.

In [8]:
my_dictionary = {
    'aardvark': 'a nocturnal badger-sized burrowing mammal of Africa, with long ears, a tubular snout, and a long extensible tongue, feeding on ants and termites.',
    'aardwolf': 'a black-striped nocturnal African mammal that feeds mainly on termites.',
    'abaca': 'a large herbaceous Asian plant of the banana family, yielding Manila hemp.',
}

# 7. Given my_dictionary as given above, write code that takes the second description, and prints 
# the individual words of the description in reverse order.

print(my_dictionary['aardwolf'][::-1])
# This [::-1] is a slice that means "all of the string, but backwards".

.setimret no ylniam sdeef taht lammam nacirfA lanrutcon depirts-kcalb a

In [9]:
# 8. Write code that computes the sum of an arbitrary list of numbers, for example the list l = [1, 2, 3.0]
l = [1, 2, 3.0]
print(sum(l))

6.0

In [10]:
# 9. The factorial of a positive integer n, denoted by n!, is the product of all positive integers (i.e. larger than zero) less than or equal to n. For example, 5! = 5 * 4 * 3 * 2 * 1. Use a for loop to compute the factorial of 15.
factorial = 1
n = 15
for i in range(1, n + 1):
    factorial = factorial * i
print(factorial)

1307674368000

In [11]:
# 10. Write code that checks for each number between 0 and 100 if it is divisible by 3. If so, print this number if it is also divisible by 5 or 7.
for i in range(0, 101):
    if i % 3 == 0:
        if i % 5 == 0 or i % 7 == 0:
            print(i)

0
15
21
30
42
45
60
63
75
84
90

In [12]:
# 11. A prime number is a number larger than 1 that is only divisible by 1 and itself. Write code to check if 12829 is prime.
# Hint: use a for loop and the modulo operator.
n = 12829
for i in range(2, n):
    if n % i == 0:
        print(f'{n} is not a prime number.')
        break
else:
    print(f'{n} is a prime number.')

12829 is a prime number.

In [13]:
# 12. Write a function that takes two lists as arguments, and returns the inner product of the list. The inner product is the sum of the element-wise products of the list. Test your code by calling it with two lists of floats.
def inner_product(list1, list2):
    if len(list1) != len(list2):
        print('The lists are not of equal length.')
        return
    
    product = 0
    for i in range(len(list1)):
        product += list1[i] * list2[i]
    return product

print(inner_product([1, 2, 3], [4, 5, 6]))
print(inner_product([1, 2, 3], [4, 5, 6, 7]))

32
The lists are not of equal length.
None

In [14]:
# 13. Write a function called unique() that takes a list as an argument, and returns a new list containing all unique values in the list.
def unique(list1):
    list2 = []
    for i in list1:
        if i not in list2:
            list2.append(i)
    return list2

print(unique([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
# 14. Write a function that takes a circle's radius as its argument and returns the circle's surface area and circumference. Call the function to check if it works.
def circle(radius):
    return math.pi * radius ** 2, 2 * math.pi * radius

print(circle(5))

(78.53981633974483, 31.41592653589793)

In [16]:
# 15. Write a function that takes two strings as its arguments and returns True if any of the letters in the first string occur in the second string, and False if not.
def letters(string1, string2):
    for i in string1:
        if i in string2:
            return True
    return False